<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-mds.pickx.be/NewsFolder/w-1200_h-630_smart-1/BELGAIMAGE-85961000_20210714123037.jpg)">
  <div class="container">
    <h1><strong>Watch my movies</strong></h1>
  </div>
</div>
