<h1>Index</h1>
<div class="center">
  <%= link_to "New list", new_list_path, class:'btn btn-primary m-4'%>
</div>
<div class="center">
  <% if @lists.empty? %>
    <%= 'Please create your first list' %>
  <% else %>
    <% @lists.each do |l| %>
      <li> <%= l.name %>
         <%=link_to "More details", list_path(l)%> </li>
    <% end %>
  <% end %>
</div>
