.navbar-lewagon {
  justify-content: space-between;
  background: #db3a3a;
  color: #db3a3a
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
